---
:mailboxes:
  - :host: 'imap.gmail.com'
    :port: 993
    :ssl: true
    :start_tls: false
    :email: <%= ENV['EMAIL_ADDRESS'] %>
    :password: <%= ENV['EMAIL_PASSWORD'] %>
    :name: "inbox"
    :logger:
      :log_path: logs/mailroom.log
    :delivery_method: postback
    :delivery_options:
      :delivery_url: <%= "#{ENV['APP_URL']}/rails/action_mailbox/relay/inbound_emails" %>
      :content_type: 'message/rfc822'
      :username: actionmailbox
      :password: <%= ENV["POSTBACK_PASSWORD"] %>
